<div w-i18n-ns="app.voting">
    <div class="voting-card__title basic-900 headline-2">{{$ctrl.pollData.title}}</div>
    <hr/>
    <div class="voting-card__visuals">
        <!--            TODO: i18n-->
        <div class="remaining-time-chart relative" title="{{$ctrl.blocksLeft}} blocks left">
            <div class="loader-wrapper" ng-if="$ctrl.isLoading">
                <w-loader class="loader"></w-loader>
            </div>
            <img ng-if="$ctrl.isClosed" class="closed-voting" src="/img/icons/check.svg"/>
            <svg viewbox="0 0 36 36" class="circular-chart">
                <path class="circle-bg"
                      d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                />
                <path class="circle"
                      stroke-dasharray="{{$ctrl.relativeElapsedTime * 100}}, 100"
                      d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                />
            </svg>
        </div>
        <div class="current-votes-chart">
            <svg ng-if="$ctrl.hasVotes" viewBox="0 0 1 0.1" class="bar-chart">
                <g class='bars'>
                    <g ng-repeat="vote in $ctrl.votes" class="option">
                        <rect
                                ng-attr-fill="{{vote.c}}"
                                ng-attr-x="{{vote.x}}"
                                ng-attr-width="{{vote.w}}"
                                ng-attr-height='100%'>
                            <title class="label">
                                {{vote.l}}: {{vote.v}} Votes
                            </title>
                        </rect>
                    </g>
                </g>
            </svg>
            <!--            TODO: i18n-->
            <span ng-if="!$ctrl.hasVotes" class="body-2">No votes</span>
        </div>
    </div>
</div>
<div class="voting-text">
    <p class="body-2">
        {{$ctrl.pollData.description}}
    </p>
</div>
<div class="button_wrapper">
    <w-sign-button ng-if="!$ctrl.isClosed"
                   class="submit long"
                   ng-click=""
                   on-success=""
                   on-click="">
        <span w-i18n-ns="app.voting" w-i18n="button.vote"></span>
    </w-sign-button>
    <w-sign-button ng-if="$ctrl.isClosed"
                   disabled="true"
                   class="long"
                   ng-click=""
                   on-success=""
                   on-click="">
        <span w-i18n-ns="app.voting" w-i18n="button.votingClosed"></span>
    </w-sign-button>
</div>
</div>
